# =====================
# Global
# =====================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.development
.env.production

# =====================
# Next.js
# =====================
.next/
out/
build/
.vercel/

# =====================
# TypeScript
# =====================
*.tsbuildinfo

# =====================
# Logs
# =====================
logs/
*.log

# =====================
# OS & Editor
# =====================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =====================
# Coverage & Testing
# =====================
coverage/
.playwright/

# =====================
# Cache
# =====================
.cache/
.turbo/
